
<body style="padding:2rem">
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__heading">
      <h2 class="collapsible__title">PRODUCTS</h2>
      <span class="icon-container">
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </span>
    </header>

    <div class="collapsible__content">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sequi quaerat amet quis deleniti perspiciatis
        incidunt expedita velit excepturi quisquam.</p>
    </div>
  </div>


  <div class="collapsible ">
    <header class="collapsible__heading">
      <h2 class="collapsible__title">PRODUCTS</h2>
      <span class="icon-container">
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </span>
    </header>

    <div class="collapsible__content">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sequi quaerat amet quis deleniti perspiciatis
        incidunt expedita velit excepturi quisquam.</p>
    </div>
  </div>

