<div class="card">
    <div class="grid grid--1x2 testimonial">
      <div class="testimonial__image">

      <img src="images/testimonial.jpg"  alt="" srcset="">
      <span class="icon-container icon--acenteBG">    
        <svg class="icon icon--white" >
            <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
        </span>
        
        </div>
      <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Molestiae vero iste ducimus 
           sunt fuga architecto labore
           dolore recusandae voluptates placeat.
        </p>
    
        <footer class="quote__footer">
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Jhone Lumeo</h3>
              <p class="media__description">Mosh Company ceo
              </p>
            </div>
          </div>
        </footer>
    
      </blockquote>
    
    </div>
  </div>